<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #reiter {
            display: flex;
            flex-direction: row;
        }

        .selected {
            background-color: #553399;
            color: white;
        }
        #content {
            display: flex;
            flex-direction: row;
            width: 60%;
            justify-content: space-around;
        }

        .details {
            background-color: white;
            display: none;
        }
    </style>
</head>
<body>
    <h1></h1>
    <div id="reiter">
        <form action="/tasks" method="get">
            <button class="selected">Tasks</button>
        </form>
        <form action="/inspection" method="get">
            <button>Inspection</button>
        </form>
        <form action="/settings" method="get">
            <button>Settings</button>
        </form>
        <form action="/alerts" method="get">
            <button>Alerts</button>
        </form>
    </div>
    <button>Add Task</button>
        <div class="details">
            <h2>Details</h2>
            <form id="create-new-form">
                <input type="text" name="status" placeholder="Status">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="description" placeholder="Description">
                <button type="submit" id="create-task-btn">Create New</button>
            </form>
        </div>
    <section id="content">
        <div id="tasks">
            <h2>To Do</h2>
            <div></div>
        </div>

        <div id="in-progress">
            <h2>In Progress</h2>
            <div></div>
        </div>

        <div id="in-review">
            <h2>Review</h2>
            <div></div>
        </div>

        <div id="done">
            <h2>Done</h2>
            <div></div>
        </div>
    </section>

    <script type="importmap">
        {
            "imports": {
                "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
            }
        }
    </script>

    <script>
        const buttons = document.querySelectorAll('button');
        const details = document.querySelector('.details');

        buttons.forEach((element) => {
            element.addEventListener('click', () => {
                buttons.forEach((element) => {
                    element.classList.remove('selected');
                });
                element.classList.add('selected');
                if(element.innerHTML == 'Add Task') {
                    details.style.display = 'block';
                } else {
                    details.style.display = 'none';
                }
            });
        });

        
    </script>

    <script type="module">
        import { io } from 'socket.io-client';

        // Establish a socket connection to the server
        const socket = io('ws://localhost:80');

        socket.on('connect', () => {

            const h1 = document.querySelector('h1');
            const forms = document.querySelectorAll('form');
            const buttons = document.querySelectorAll('button');

            socket.emit('get-details', (window.location.pathname.split('/')[1]));

            socket.on('got-details', (collection) => {
                h1.innerHTML = collection.name;

                forms.forEach((element) => {
                    element.action = collection.uuid + '/' + element.action.split('/')[3];
                });
            });

            buttons.forEach((element) => {
                if(element.classList.contains('selected')) {
                    socket.emit(`get-${element.innerHTML.toLowerCase()}`, (window.location.pathname.split('/')[1]));
                }
            })

            socket.on('got-tasks', (tasks) => {
                tasks.forEach((task) => {
                    switch(task.status) {
                        case 1:
                            document.querySelector('#tasks div').innerHTML += `<div>${task.name}</div>`;
                            break;
                        case 2:
                            document.querySelector('#in-progress').innerHTML += `<div>${task.name}</div>`;
                            break;
                        case 3:
                            document.querySelector('#in-review').innerHTML += `<div>${task.name}</div>`;
                            break;
                        case 4:
                            document.querySelector('#done').innerHTML += `<div>${task.name}</div>`;
                            break;
                        default:
                            break;
                    }
                });
            })

            socket.on('created-tasks', (task) => {
                switch(Number(task.status)) {
                    case 1:
                        document.querySelector('#tasks div').innerHTML += `<div>${task.name}</div>`;
                        break;
                    case 2:
                        document.querySelector('#in-progress').innerHTML += `<div>${task.name}</div>`;
                        break;
                    case 3:
                        document.querySelector('#in-review').innerHTML += `<div>${task.name}</div>`;
                        break;
                    case 4:
                        document.querySelector('#done').innerHTML += `<div>${task.name}</div>`;
                        break;
                    default:
                        break;
                }
            });

            document.querySelector('#create-new-form').addEventListener('submit', (el) => {
                el.preventDefault();
                const data = {
                    status: document.querySelector('#create-new-form input[name="status"]').value,
                    name: document.querySelector('#create-new-form input[name="name"]').value,
                    description: document.querySelector('#create-new-form input[name="description"]').value,
                    uuid: window.location.pathname.split('/')[1]
                }
                socket.emit('create-task', data);
            })

            socket.on('disconnect', () => {
                console.log('Disconnected from server');
            });
        });

        

    </script>

</body>
</html>