<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynHub - Collection</title>
</head>
<body>
    <form id="collection-create-form">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="description" placeholder="Description">
        <button type="submit">Create New</button>
    </form>
    <section id="collections">
       
    </section>
    <script type="importmap">
        {
            "imports": {
                "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
            }
        }
    </script>
    <script type="module" src="/js/createCollection.js"></script>
</body>
</html>