<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynergyHub | Overview</title>
    <link rel="stylesheet" href="/css/global/reset.css">
    <link rel="stylesheet" href="/css/global/variables.css">
    <link rel="stylesheet" href="/css/global/base.css">
    <link rel="stylesheet" href="/css/overview.css">
    <link rel="stylesheet" href="/css/global/alert.css">
</head>
<body>
    <main>
        <header>
            <h1 id="username">SynergyHub</h1>
            <button>Logout</button>
        </header>
        <section>
            <h2>Your collections</h2>
            <table id="collections" class="collections">

            </table>
            <button id="create-collection" class="create-collection">Create collection</button>
        </section>
        <section id="create-collection-container" class="create-collection-container hidden">
            <div>
                <header>
                    <h2>Create collection</h2>
                    <p>Please enter a name for your collection. You can also add a description if you like.</p>
                </header>
                <form id="collection-create-form">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Name">
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <textarea id="description" name="description" placeholder="Description"></textarea>
                    </div>
                    <button type="submit">Create collection</button>
                </form>
            </div>
        </section>
    </main>
    <p id="alert" class="alert">
        Alert
    </p>

    <script type="importmap">
        {
            "imports": {
                "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js" integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/alert.js" type="module"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script type="module" src="/js/createCollection.js"></script>
</body>
</html>