<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global/reset.css">
    <link rel="stylesheet" href="/css/global/variables.css">
    <link rel="stylesheet" href="/css/global/base.css">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="/css/global/alert.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1></h1>
        <header>
            <h1 id="collection-name"></h1>
            <p id="collection-details"></p>
            <p id="collection-description"></p>
            <nav id="navigation" class="navigation">
                <a href="/tasks">Tasks</a>
                <a href="/inspection">Inspection</a>
                <a href="/settings">Settings</a>
                <a href="/alerts">Alerts</a>
            </nav>
        </header>
        <div class="content">
            <aside>
                <nav id="aside-nav">
                    <ul>
                        <li>Collection</li>
                        <li><a href="/settings/rename-collection">Rename collection</a></li>
                        <li><a href="/settings/delete-collection">Delete collection</a></li>
                        <li>Collaborators</li>
                        <li><a href="/settings/invite-collaborators">Invite collaborators</a></li>
                        <li><a href="/settings/manage-collaborators">Manage collaborators</a></li>
                        <li>Platforms</li>
                        <li><a href="/settings/add-projects">Add projects</a></li>
                        <li><a href="/settings/manage-project">Manage projects</a></li>
                    </ul>
                </nav>
            </aside>
            <aside id="add-projects" class="hidden">
                <h2>Platforms</h2>
                <h3>Add a Platform to your Collection</h3>
                <p>Please select a platform u want to connect with</p>
                <form id="add-platform-form">
                    <select name="platform" id="platform-select">
                        <option value="github">Github</option>
                        <option value="gitlab">Gitlab</option>
                        <option value="notion">Notion</option>
                        <option value="figma">Figma</option>
                        <option value="dribbble">Dribbble</option>
                    </select>
                    <button id="add-platform-btn">Add platform</button>
                </form>
            </aside>
            <aside id="rename-collection" class="hidden">
                <h2>Collection</h2>
                <h3>Rename your Collection</h3>
                <p>Please enter a new name for your collection. You can rename your collection at any time</p>
                <div>
                    <input type="text">
                    <button>Rename collection</button>
                </div>
            </aside>
            <aside id="delete-collection" class="hidden">
                <h2>Collection</h2>
                <h3>Delete your Collection</h3>
                <p>Are you sure you want to delete your collection? This action cannot be undone</p>
                <div>
                    <form method="get">
                        <input type="text" placeholder="Collection name">
                        <button>Delete collection</button>
                    </form>
                </div>
            </aside>
            <aside id="invite-collaborators" class="invite-collaborators hidden">
                <h2>Collaborators</h2>
                <h3>Invite a Collaborator</h3>
                <p>Please enter the username of the person you want to invite to your collection</p>
                <div>
                    <input type="text" class="search-user">
                    <ul class="users"></ul>
                    <button disabled>Invite collaborator</button>
                </div>
            </aside>
        </div>
    </main>
    <p id="alert" class="alert">
        Alert
    </p>
    <script type="importmap">
        {
            "imports": {
                "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
            }
        }
    </script>
    <script>
        // Navigation
        const NAVIGATIONLINKS = document.querySelectorAll('#navigation a');

        NAVIGATIONLINKS.forEach((element) => {
            element.addEventListener('click', ($event) => {
                $event.preventDefault();
                
                const { target } = $event;

                window.location.href = `/${window.location.pathname.split('/')[1]}/${target.href.split('/')[3]}`;
            });

            if(window.location.pathname.split('/')[2] == element.href.split('/')[3]) {
                element.classList.add('selected');
            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js" integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="/js/settings.js"></script>
    <script src="/js/alert.js" type="module"></script>
</body>
</html>