<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynergyHub | Sign up</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/global/reset.css">
    <link rel="stylesheet" href="/css/global/variables.css">
    <link rel="stylesheet" href="/css/global/base.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/global/alert.css">
</head>
<body>
    <main>
        <section>
            <header>
                <h1>Sign up</h1>
                <p>Please enter your details to create a free account and use our service.</p>
            </header>
        
            <form action="/signup" method="post">
                <div>
                    <div>
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Username">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <div>
                        <label for="confirmPassword">Confirm password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
                    </div>
                </div>
                <div>
                    <button type="submit">Create account</button>
                    <p>Already have an account? <a href="/signin">Sign in</a></p>
                </div>
            </form>
        </section>
    </main>
    <p id="alert" class="alert">
        Alert
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js" integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/alert.js" type="module"></script>
    <script>
        if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/sw.js', { scope: '/' });
		}
    </script>
</body>
</html>