main {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
    height: 100vh;
    width: 100vw;
}

main>header {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

main>header>p:nth-child(2) {
    font-size: var(--detail-font-size);
}

main>header>p:nth-child(3) {
    color: var(--color-text-light);
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
}

.navigation>a {
    background-color: var(--color-on-background-dark);
    color: var(--color-text-light);
    border: none;
    border-radius: var(--br-xs);
    padding: var(--space-s) var(--space-xl);
}

.navigation>a.selected {
    background-color: var(--color-accent-primary);
}

.taskboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-2xl);
    width: 70vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.taskboard::-webkit-scrollbar {
    height: var(--xs);
}

.taskboard::-webkit-scrollbar-track {
    background: transparent;
}

.taskboard::-webkit-scrollbar-thumb {
    border-radius: var(--br-full);
    background: var(--color-text-light);
}

.taskboard>section {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding: var(--space-l);
    border-radius: var(--br-xs);
    height: fit-content;
    min-width: calc(var(--3xl) * 2);
}

.state-todo {
    background-color: var(--color-state-todo);
}

.state-in-progress {
    background-color: var(--color-state-inprogress);
}

.state-review {
    background-color: var(--color-state-review);
}

.state-done {
    background-color: var(--color-state-done);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    max-height: 40vh;
    overflow: auto;
}

.cards::-webkit-scrollbar {
    width: var(--xs);
}

.cards::-webkit-scrollbar-track {
    background: transparent;
}

.cards::-webkit-scrollbar-thumb {
    border-radius: var(--br-full);
    background: var(--color-text-light);
}

.card {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
    align-items: flex-start;
    background-color: var(--color-on-background-dark);
    border-radius: var(--br-xs);
    padding: var(--space-s) var(--space-l);
    cursor: pointer;
    user-select: none;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: var(--space-l);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--l);
    width: var(--l);
    background-color: transparent;
    border: var(--xxs) solid var(--color-text-light)
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--color-accent-primary);
    border-color: var(--color-accent-primary);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: var(--space-xs);
    top: var(--space-xxs);
    width: var(--xs);
    height: var(--s);
    border: solid white;
    border-width: 0 var(--xxs) var(--xxs) 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.taskboard>section>div>div>div {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.card>div>p:nth-child(1) {
    color: var(--color-text-light);
}

.card>div>p:nth-child(2),
.card>div>p:nth-child(3) {
    font-size: var(--detail-font-size);
}

.task-stats {
    display: flex;
    flex-direction: row;
    gap: var(--space-l);
    align-items: center;
}

.task-stats>span {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    align-items: center;
}

.task-stats>span>p {
    font-size: var(--detail-font-size);
}

.taskboard>section>button {
    background-color: var(--color-on-background-dark);
}

.create-task-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background-dark-transparent);
    backdrop-filter: blur(var(--xxs));
    transition: var(--tr-fast) ease-in-out;
}

.create-task-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.create-task-container > div {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    background-color: var(--color-on-background-dark);
    border-radius: var(--br-xs);
    padding: var(--space-xl);
}

.create-task-container > div > header {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.create-task-container > div > form {
    display: flex;
    flex-direction: column;
}

.create-task-container > div > form > div:not([class="send-notification-container"]) {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

.create-task-container > div > form > div:not(:first-child) {
    margin-top: var(--space-l);
}

.create-task-container > div > form > button {
    margin-top: var(--space-xl);
}

.send-notification-container {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
    align-items: center;
}

.view-task-container.hidden {
    display: none;
}

.view-task-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background-dark-transparent);
    backdrop-filter: blur(var(--xxs));
    transition: var(--tr-fast) ease-in-out;
}

.view-task-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.view-task-container > div {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    background-color: var(--color-on-background-dark);
    border-radius: var(--br-xs);
    padding: var(--space-xl);
}

.view-task-container > div > header {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.view-task-container > div > form {
    display: flex;
    flex-direction: column;
}

.view-task-container > div > form > div:not([class="send-notification-container"]) {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

.view-task-container > div > form > div:not(:first-child) {
    margin-top: var(--space-l);
}

.view-task-container > div > form > button {
    margin-top: var(--space-xl);
}

.error {
    color: var(--color-error);
}

p.hidden {
    display: none;
}

.task-header-info {
    background-color: red;
}

/* View Task
***************************************/
.view-task-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-task-container > div {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    background-color: var(--color-on-background-dark);
    border-radius: var(--br-xs);
    padding: var(--space-xl);
}

.view-task-container .task-intro {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.view-task-container .task-intro p {
    color: var(--color-text-light);
    font-size: var(--detail-font-size);
}

.view-task-container .task-info {
    margin-top: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.task-subtasks {
    margin-top: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.task-subtasks h2 {
    color: var(--color-text-light);
    font-weight: var(--base-font-size);
}

.todos {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.todos .todo {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    align-items: flex-start;
}

.add-todo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.add-todo input {
    background-color: var(--color-background-dark-transparent);
    border: none;
    font-size: var(--detail-font-size);
    font-weight: var(--fw-normal);
}

.add-todo button {
    max-width: 15rem;
    height: 3rem;
}

.task-feedback {
    margin-top: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.task-feedback textarea {
    resize: none;
    height: 7vh;
    background-color: var(--color-background-dark-transparent);
    border: none;
    font-size: var(--detail-font-size);
    font-weight: var(--fw-normal);
}

.task-feedback button {
    max-width: 15rem;
    height: 3rem;
}

.feedbacks {
    max-height: 20vh;
    overflow: auto;
    margin-top: var(--space-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.feedbacks > * {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.feedback {
    display: flex;
    flex-direction: column;
}

.feedback div  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
}

.feedback .feedback-info {
    font-size: var(--detail-font-size);
}