main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

main>header {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

main>header>p:nth-child(2) {
    font-size: var(--detail-font-size);
}

main>header>p:nth-child(3) {
    color: var(--color-text-light);
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
}

.navigation>a {
    background-color: var(--color-on-background-dark);
    color: var(--color-text-light);
    border: none;
    border-radius: var(--br-xs);
    padding: var(--space-s) var(--space-xl);
}

.navigation>a.selected {
    background-color: var(--color-accent-primary);
}

main .content {
    display: flex;
    flex-direction: row;
    margin-top: var(--space-2xl);
}

main .content aside {
    display: flex;
    flex-direction: column;
}

main .content aside:first-child {
    width: 15vw;
    height: 60vh;
    background-color: var(--color-on-background-dark);
    border-radius: var(--br-xs);
}

#aside-nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

#aside-nav ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    list-style: none;
    padding: var(--space-l) var(--space-xl);
}

#aside-nav ul li {
    display: flex;
    flex-direction: row;
    gap: var(--space-l);
    align-items: center;
}

#aside-nav ul li a {
    color: var(--color-text-light);
    text-decoration: none;
    margin-left: var(--space-l);
}

#aside-nav ul li a:hover {
    color: var(--color-accent-primary);
}

.content>:not(:first-child) {
    display: flex;
    flex-direction: column;
    margin-left: var(--space-2xl);
    gap: var(--space-l);
}

.content aside h2 {
    margin-bottom: var(--space-l);
}

.content > aside:not(:first-child).hidden {
    display: none;
}

#aside-nav ul li a.active {
    color: var(--color-accent-primary);
}