.alert {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    padding: var(--space-m) var(--space-xl);
    border-radius: var(--br-full);
    background-color: var(--color-on-background-dark);
    color: var(--color-text-light);
    opacity: 0;
    pointer-events: none;
}

.alert.error {
    color: var(--color-error);
}

.alert.success {
    color: var(--color-success);
}